* {
  font-family: 'Lato', sans-serif;
}

.bg-primary-color {
  background-color: #fff;
}

.bg-secondary-color {
  background-color: #b4d4f7;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #00050a;
}

/* NAVBAR */
#navbar {
  border-bottom: 1px solid #b4d4f7;
}

#navbar a:hover {
  color: #b4d4f7;
}

#navbar a.active {
  border-bottom: 1px solid #050505;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 40px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}

/* PRICING */
#price {
  margin-top: 8em;
  margin-bottom: 1em;
  padding: 4em 1em;
}

.title {
  font-size: 1.75em;
  margin-bottom: 0.4em;
  position: relative;
}

.title::before {
  width: 75px;
  border-top: 4px solid #b4d4f7;
  content: "";
  position: absolute;
  bottom: 2em;
}

/* CARD */
#card-price {
  margin-bottom: 4em;

}


#card-price .card {
  border-radius: 0;
  margin-bottom: 1em;
}

.card-title {
  font-size: 1.5em;
  font-weight: 700;
}

#card-price ul.list {
  height: 151px;
  padding: 0;
}

ul li {
  list-style: none;
}

#card-price .btn {
  margin-top: 1.5em;
  padding: 0.3em 0.8em;
}


@media(min-width: 768px) {
  #card-price .btn {
    margin-top: 1.5em;
    padding: 0.6em 1em;
    font-size: 1em;
  }
}

#comparar-planos {
  margin-top: 6em;
  margin-bottom: 1em;
}

.table-responsive {
  max-width: 960px;
  margin: auto;
}

.table {
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}

svg.bi {
  vertical-align: -.125em;
  color: #212529;
}

.display-6 {
  text-align: center !important;
  margin-bottom: 1.5rem;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1.2;
}


/* FOOTER BOTTOM */
#footer-bottom {
  margin-top: 1em;
  border-top: 1px solid #bcb6b6bd;
  padding-top: 2em;
  text-align: center;
}

@media(min-width: 768px) {
  #fonts {
    padding: 0 2em;
    border-left: 1px solid #bcb6b6bd;
    border-right: 1px solid #bcb6b6bd;
  }
  #footer .row{
    padding: 2em;
  }
  .col-md-3 {
    width: 100%;
  }
}